[workspace]
authors = ["Riccardo Cappuzzo <riccardo.cappuzzo@gmail.com>"]
channels = ["conda-forge"]
name = "skrub-tutorials"
platforms = ["linux-64", "osx-arm64", "osx-64", "win-64"]
version = "0.1.0"

[tasks]
lab = "jupyter lab"
notebook = "jupyter notebook"

[dependencies]
pandas = ">=2.3.3,<3"
polars = ">=1.35.1,<2"
scikit-learn = ">=1.7.2,<2"
seaborn = ">=0.13.2,<0.14"
pyarrow = ">=22.0.0,<23"
jupyterlab = ">=4.5.0,<5"
notebook = ">=7.5.0,<8"
skrub = ">=0.7.0"
jupytext = ">=1.19.1,<2"


[environments]
lint = ["lint"]
doc = ["doc"]
dev = ["dev", "doc", "lint"]

[feature.dev.dependencies]
ipykernel = "*"
ipython = ">=9.7.0,<10"

[feature.lint.dependencies]
ruff = "*"
black = "*"
jupyter = ">=1.1.1,<2"

[feature.doc.dependencies]
jupyter-book = "*"
jupyterlite = "*"
jupyterlite-pyodide-kernel = "*"
python-libarchive-c = "*"
quarto = "*"
jupytext = ">=1.18.1,<2"
jupyterquiz = ">=2.9.6.2,<3"

[feature.doc.tasks]
render = {cmd = "quarto render", env = { "SKB_TABLE_REPORT_VERBOSITY" = "0" }}
render-book = {cmd = "quarto render book/", env = { "SKB_TABLE_REPORT_VERBOSITY" = "0" }}
render-slides = {cmd = "quarto render slides/", env = { "SKB_TABLE_REPORT_VERBOSITY" = "0" }}

publish = "quarto publish gh-pages"
create-notebooks-dir = { cmd = "mkdir -p ./content/notebooks" }
convert-exercises-to-notebooks = { cmd = "jupytext --to notebook ./content/exercises/*.py && mv ./content/exercises/*.ipynb ./content/notebooks", depends-on = [
    "create-notebooks-dir",
] }
convert-exercises-to-executed-notebooks = { cmd = "jupytext --to notebook --execute ./content/exercises/*.py && mv ./content/exercises/*.ipynb ./content/notebooks", depends-on = [
    "create-notebooks-dir",
] }
build-book = { cmd = "jupyter-book build book", depends-on = [
    "convert-exercises-to-notebooks",
] }
copy-data = { cmd = "cp -r ./data ./content/ && cp -r ./content/chapters/helpers ./content/notebooks", depends-on = [
] }
setup-jupyterlite-content = { cmd = "mkdir -p ./content/notebooks ./content/data && cp ../content/notebooks/*.ipynb ./content/notebooks && cp -r ../data/* ./content/data", cwd = "jupyterlite", depends-on = [
    "convert-exercises-to-notebooks",
] }
build-jupyterlite = { cmd = "jupyter lite build --contents ./content --output-dir dist", cwd = "jupyterlite", depends-on = [
    "setup-jupyterlite-content"
] }
copy-jupyterlite = { cmd = "mkdir -p ../_build/jupyterlite && cp -r dist/* ../_build/jupyterlite/", cwd = "jupyterlite", depends-on = [
    "build-jupyterlite",
] }
serve = { cmd = "python -m http.server --directory _build 8000", depends-on = [
    "render", "copy-jupyterlite"
] }
